@inherits LayoutComponentBase
@inject  UserService UserService;
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">

    @if (UserService.GetCurrentUser()!=null)
    {
        <div class="sidebar">
            <NavMenu></NavMenu>
        </div>
    }
    
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
